<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/css/index_style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

<div class="container" id="index_box">
    <form>
        <p>Welcome to Mycloset</p>
        <p>   </p>
        <p>   </p>
        <p>   </p>
        <p>   </p>
       <button><a href="login.html">enter</a></button>
    </form>
</div>
</body>
</html>
