<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderManageU</title>
    <link rel="stylesheet" href="../static/css/orderManageU_style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
<div class="chose">
    <button class="uncurrent">个人中心</button>
    <button>订单管理</button>
    <button class="uncurrent">订单</button>
    <button class="uncurrent">用户管理</button>
    <p>&nbsp &nbsp联系我们:025-12345678</p>
</div>
<div class="container" id="sumOrder">
    <div class="search" >
            <select name="orderStatues">
                <option>所有</option>
                <option>完成</option>
                <option>未完成</option>
                <option>单查</option>
            </select>
            <input placeholder='如果单查输入订单编号/其余此内容为空' name="titleContent">
            <button class="search-button">查询</button>
    </div>
    <div class="container-table">

    </div>

</div>
</body>
<script>

    $(document).ready(function(){
        const token = localStorage.getItem("Token")
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/api_1_0/order/userRead",
            headers: {
                token: token
            },
            success: (response) => {
                console.log(response)
                const arr = response.data
                for(var i = 0; i < arr.length; i++) {
                    const item = arr[i]
                    $("div.container-table").append(`
                        <li>
                            <div class="order">
                                <div class="picture">
                                    <img width=100%; height=100%; src="${item.Pic}">
                                </div>
                                <div class="space">
                                </div>
                                <div class="info">
                                    <table>
                                        <tr>
                                            <td colspan="3">
                                                <a id="orderHref">
                                                    <span >订单编号：</span>
                                                    <span class="orderID">${item.OrderID}</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="a1">宠物姓名：</span>
                                                <span class="a2">${item.petName}</span>
                                            </td>
                                            <td>
                                                <span class="a1">宠物年龄：</span>
                                                <span class="a2">${item.petAge}</span>
                                            </td>
                                            <td>
                                                <span class="a1">宠物品种：</span>
                                                <span class="a2">${item.petVariety}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="a1">主治医生ID：</span>
                                                <span class="a2">${item.DoctorID}</span>
                                            </td>
                                            <td>
                                                <span class="a1">主治医生：</span>
                                                <span class="a2">${item.DoctorName}</span>
                                            </td>
                                            <td>
                                                <span class="a1">预约时间：</span>
                                                <span class="a2">${item.AppointmentTime}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="a1">状态：</span>
                                                <span class="a2">${item.Status_c}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </li>             
                    `)
                }
            }
        })
    })
    
    var UserType='3'

    $(".uncurrent").click(function(){
        UserType=localStorage.getItem("UserType")
        console.log(UserType)
        if(this.innerText=='用户管理'){
            if(UserType=='3'||UserType=='2'){
                alert('此功能不对用户/医生开放！')
            }else if(UserType=='0'){
                window.location = 'userManage.html'
            }else{
                window.location='userManageBoss.html'
            }
        }else if(this.innerText=='订单管理'){
            if(UserType =='3'){
                window.location = 'orderManageU.html'
            }else if(UserType=='2'){
                window.location = 'orderManageD.html'
            }else{
                window.location = 'orderManageM.html'
            }    
        }else if(this.innerText=='订单'){
            if(UserType=='3'){
                window.location='orderInfoU.html'
            }else{
                alert('此功能不对管理员/医生开放！')
            }         
        }else if(this.innerText=='个人中心'){
            if(UserType=='3'){
                window.location='personalCenter.html'
            }else{
                window.location='personalCenter_sys.html'
            } 
        }        
       })
    
       $(".search-button").click(function(){
            let order=$(".search select[name=orderStatues]").val()
            console.log(order)
            if(order=='所有'){
                window.location='orderManageU.html'
            }else if(order=='完成'){
                const token = localStorage.getItem("Token")
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/api_1_0/order/statusUser",
                    headers: {
                        token: token
                    },
                    data : {
                        Status: '完成'
                    },
                    success: (response) => {
                        console.log(response)
                        const arr = response.data
                        console.log(arr)
                        $(".container-table").empty()
                        for(var i = 0; i < arr.length; i++) {
                            const item = arr[i]
                            $("div.container-table").append(`
                                <li>
                                    <div class="order">
                                        <div class="picture">
                                            <img width=100%; height=100%; src="${item.Pic}">
                                        </div>
                                        <div class="space">
                                        </div>
                                        <div class="info">
                                            <table>
                                                <tr>
                                                    <td colspan="3">
                                                            <span >订单编号：</span>
                                                            <span class="orderID">${item.OrderID}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="a1">宠物姓名：</span>
                                                        <span class="a2">${item.petName}</span>
                                                    </td>
                                                    <td>
                                                        <span class="a1">宠物年龄：</span>
                                                        <span class="a2">${item.petAge}</span>
                                                    </td>
                                                    <td>
                                                        <span class="a1">宠物品种：</span>
                                                        <span class="a2">${item.petVariety}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="a1">主治医生ID：</span>
                                                        <span class="a2">${item.DoctorID}</span>
                                                    </td>
                                                    <td>
                                                        <span class="a1">主治医生：</span>
                                                        <span class="a2">${item.DoctorName}</span>
                                                    </td>
                                                    <td>
                                                        <span class="a1">预约时间：</span>
                                                        <span class="a2">${item.AppointmentTime}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="a1">状态：</span>
                                                        <span class="a2">${item.Status_c}</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </li>             
                            `)
                        }
                    }
                })
            }else if(order=='未完成'){
                const token = localStorage.getItem("Token")
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/api_1_0/order/statusUser",
                    headers: {
                        token: token
                    },
                    data : {
                        Status: '未完成'
                    },
                    success: (response) => {
                        console.log(response)
                        const arr = response.data
                        console.log(arr)
                        $(".container-table").empty()
                        for(var i = 0; i < arr.length; i++) {
                            const item = arr[i]
                            $("div.container-table").append(`
                                <li>
                                    <div class="order">
                                        <div class="picture">
                                            <img width=100%; height=100%; src="${item.Pic}">
                                        </div>
                                        <div class="space">
                                        </div>
                                        <div class="info">
                                            <table>
                                                <tr>
                                                    <td colspan="3">
                                                        <a id="orderHref">
                                                            <span >订单编号：</span>
                                                            <span class="orderID">${item.OrderID}</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="a1">宠物姓名：</span>
                                                        <span class="a2">${item.petName}</span>
                                                    </td>
                                                    <td>
                                                        <span class="a1">宠物年龄：</span>
                                                        <span class="a2">${item.petAge}</span>
                                                    </td>
                                                    <td>
                                                        <span class="a1">宠物品种：</span>
                                                        <span class="a2">${item.petVariety}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="a1">主治医生ID：</span>
                                                        <span class="a2">${item.DoctorID}</span>
                                                    </td>
                                                    <td>
                                                        <span class="a1">主治医生：</span>
                                                        <span class="a2">${item.DoctorName}</span>
                                                    </td>
                                                    <td>
                                                        <span class="a1">预约时间：</span>
                                                        <span class="a2">${item.AppointmentTime}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="a1">状态：</span>
                                                        <span class="a2">${item.Status}</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </li>             
                            `)
                        }
                    }
                })
            }else if(order=='单查'){
                console.log('jjjksj')
                let orderID=$(".search input[name=titleContent]").val()
                console.log(orderID)
                localStorage.setItem("orderID", orderID)
                localStorage.setItem("UserType", UserType)
                window.location = 'orderInfo.html'
            }

    })

</script>
</html>
