body {
    font-family: 'Montserrat',sans-serif;
    background-image: linear-gradient(120deg,#55AA00,#BBFF66);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 15px 50px;
}
a {
    color: black;
    font-family: '宋体',sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0px;
}
h1{
    font-family: '宋体',sans-serif;
    font-size: 20px;
}
p{
    font-family: '宋体',sans-serif;
}
span{
    font-family: '宋体',sans-serif;
    font-size: 20px;
}
table {
    width: 1200px;
}
.chose{
    background:transport;
    display:flex;
    align-items: flex-end;
}
.container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: relative;
    overflow: hidden;
    width: 1250px;
    max-width: 100%;
    min-height: 650px;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
    border-radius:3px;
    background-color: #ccc
    }
    &::-webkit-scrollbar-track-piece{
    background-color:#ccc ;
    }
}
.order_arrangeDoctor{
    float: left;
    width: 600px;
    background-color: #d4e4c0c7;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:  10px;
}
.order_revisit{
    float:left;
    width: 600px;
    background-color: #d4e4c0c7;
    margin: 10px;
}
.container-table td{
    width: 610px;
}
.container-table tr{
    height:100%;
}
.container li{
    list-style: none;
    border-bottom: 2px dashed #ccc;
    border-top:2px dashed #ccc;
    padding: 0px 10px;
    width:580px;
    height:100%;
}
.search{
    background:white;
    display: flex;
	justify-content: center;
	width:100%;
	height:70px;
}
.search input{
    width:500px;
    height:30px;
    margin-top:20px;
}
.search button{
    background:#55AA00;
    padding:5px 30px;
    height:30px;
    margin-top:20px;
}
.buttonA{
    color: black;
    font-family: '宋体',sans-serif;
    font-size: 20px;
    text-decoration:none;

}
button {
    border-radius: 10px;
    border: 0px;
    background: #fff;
    color: black;
    font-family: '宋体',sans-serif;
    font-size: 20px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
button:active {
    transform: scale(.95);
}
button:focus {
    outline: none;
}
button.uncurrent{
    background: #55AA00;
    opacity: 0.5;
}
.order_arrangeDoctor.order_revisit{
    width: 600px;
    height:100%;
    float:left;
}
.order{
    background:transparent;
    position: relative;
    overflow: hidden;
    width: 100%;
    height:200px;
}
.picture{
    background: transparent;
    width: 150px;
    height:200px;
    float:left;
    }
.space{
    background: transparent;
    width:3%;
    height:200px;
    float:left;
}
.info{
    background: transparent;
    width:320px;
    height:200px;
    float:left;
}
.bd{
    font-weight: normal;
    font-family: '宋体',sans-serif;
}
.a1{
    font-size:18px;
    line-height: 40px;
}
.a2{
    font-size:20px;
    line-height: 40px;
}
.bd p{
    color:black;
    font-size: 20x;
    text-align: left;

}